NEXT_PUBLIC_SUPABASE_URL = https://xtpvlwyomcomzdbudsqn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh0cHZsd3lvbWNvbXpkYnVkc3FuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1MjE3MzksImV4cCI6MjA4OTA5NzczOX0.ZQq8QUtAD8aqrPoYrCp1qagkfT4jLDhgb7MGmJOiUn0
